<div class="text-center">
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-4 col-xs-push-4 post">
    <h2>your profile</h2>
    <% if user_signed_in? %>

  <div class="row list_wrapper">
    <% @users.each do |user| %>
      <div class="row list-head">

        <div class="col-xs-10 user-info">
          <h3>
            <strong> <%= link_to "#{user.email}", user_path(user.id) %> </strong>
          </h3>
        </div>
      </div>
    <% end %>
<% end %>

    <div class="row">
      <div class="col-xs-12 link">

      </div>
    </div>

  </div>
 </div>
</div>
