<h1 class="current-category"><%= params[:category] %></h1>

<% if @restaurants.count == 0 %>

	<h1>There are no restaurant added in this category</h1>

<% else %>

<div class="row">

     <% @restaurants.each do |restaurant|%>
  <div class="col-md-3">
		   <h3><%= restaurant.name%></h3>
       <a href="/restaurants/<%= restaurant.id %>">
       <%= image_tag restaurant.rest_img.url(:rest_index), class:"rest" %>
    </a>
  </div>
<% end %>
</div>
<% end %>
