.footer {
position: absolute;
bottom: 0;
width: 100%;
color: blue;
text-align: center;
padding: 1px;
background-color:#C6C4C4;
  }
    .p {
      font-size:30px;
      font-family:'Courier New';
      color:blue;
    };
