.footer {
      width: 100%;
      background-color:#27AE60;
      text-align: center;
      color: white;
      font-size: large;
      font-weight:bold;
      padding: 20px 10px;
      bottom: 0;
      

    }
